[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
rope = "*"

[packages]
requests = "*"
"bs4" = "*"
selenium = "*"
google-api-python-client = "*"
oauth2client = "*"

#[requires]
#python_version = "3.7"

[pipenv]
allow_prereleases = true
